@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

.bg-dark {
    /* background-color: #4182be!important; */
    background-image: linear-gradient(180deg, #124e66, #124e66 40%, #00869e);
}

.navbar-nav .nav-link {
    /* color: rgba(255,255,255,.5); */
    color: #000;
    padding-right: 30px!important;
    font-size: 1.25em;
    font-family:'Oswald', sans-serif;
    letter-spacing: 4px;
}

.ml-auto {
    margin: auto;
}

.nav-link:hover {
  color: #ffd11a!important;
}

a {
    color: #fff!important;
    /* text-decoration: none;
    background-color: transparent; */
}

.navbar-brand:hover {
    color: #ffd11a!important;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    padding-right: .5em;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    border-right: 1px solid #fff;
    white-space: nowrap;
}
