.bg-dark {
    /* background-color: #4182be!important; */
    background-image: linear-gradient(180deg, #4182be, #4182be 100%,#d9e6f2);
}

.navbar-nav .nav-link {
    /* color: rgba(255,255,255,.5); */
    color: #000;
    padding-right: 30px!important;
    font-size: 1.25em;
}

.nav-link:hover {
  color: #ffd11a!important;
}

a {
    color: #fff!important;
    /* text-decoration: none;
    background-color: transparent; */
}

.navbar-brand:hover {
    color: #ffd11a!important;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    padding-right: .5em;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    border-right: 1px solid #fff;
    white-space: nowrap;
}
